@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');

$yellow--light: #fff7cc;
$yellow--dark: #ffd500;
$black: #212529;

$bp: 450px;
$bp-1: 500px;
$bp-2: 700px;
$bp-3: 900px;

html {
  font-size: 62.5%;
  font-family: 'Varela Round', sans-serif;
}

*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: unset;
}

button {
  outline: none;
  border: none;
  background-color: transparent;
}

body {
}

.home,
.listingPage {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  gap: 5rem;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem;
  background-color: #000;

  @media screen and (min-width: $bp-1) {
    padding: 2rem 3rem;
  }

  &__title {
    color: #fff;
    font-size: 2rem;
    cursor: pointer;

    @media screen and (min-width: $bp-1) {
      font-size: 2.5rem;
    }
  }

  &__box {
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
  }

  &__icon {
    color: #fff;
    font-size: 2.75rem;

    @media screen and (min-width: $bp-1) {
      font-size: 3rem;
    }
  }

  &__to {
    color: #fff;
    font-size: 1.25rem;

    @media screen and (min-width: $bp-1) {
      font-size: 1.4rem;
    }
  }
}

$grey: #555a61;
$grey-2: #323848;
$grey-3: #262932;
$gr: #20ab8a;
$bl: #0f76ca;
$rd: #e26970;
$ya: #fcbc04;
$pur: #6b51f3;
$pi: #fa5788;
$pi-2: #f84a7e;
$pi-3: #e92a64;

.listings {
  flex: 1;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  justify-items: center;
  align-content: start;
  gap: 1.25rem;
}

.listing {
  height: max-content;
  max-width: 1100px;
  width: 100%;
  display: flex;
  gap: 0.5rem;

  &__btns {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  }

  &__btn {
    font-size: 1.5rem;
    padding: 0.75rem;
    border-radius: 3px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;

    @media screen and (min-width: $bp-1) {
      font-size: 1.75rem;
    }

    &:nth-child(1) {
      background-color: $pi-3;
    }

    &:nth-child(2) {
      background-color: $grey;
    }
  }

  &__box {
    flex: 1;
    background-color: $yellow--light;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    border-radius: 3px;
    box-shadow: 0 0 1px 1px rgba(0, 0, 0, 1);
  }

  &__companyName {
    font-size: 1.4rem;
    font-weight: 600;
    color: #000;

    @media screen and (min-width: $bp-1) {
      font-size: 1.7rem;
    }
  }

  &__date {
    font-size: 1.25rem;
    color: #000;
    font-weight: 600;

    @media screen and (min-width: $bp-1) {
      font-size: 1.7rem;
    }
  }

  &__title {
    font-size: 1.75rem;
    font-weight: 600;
    letter-spacing: 0.5px;
    color: #000;

    @media screen and (min-width: $bp-1) {
      font-size: 2rem;
    }
  }
  &__innerBoxOne {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__innerBoxTwo {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 0.5rem;

    @media screen and (min-width: $bp-3) {
      grid-template-columns: repeat(4, max-content);
    }
  }

  &__info {
    font-size: 1.25rem;
    color: #000;
    background-color: $yellow--dark;
    padding: 0.25rem;
    border-radius: 1px;
    text-align: center;

    @media screen and (min-width: $bp-1) {
      font-size: 1.7rem;
    }
  }
}

.listingPageBox {
  align-self: center;
  border-radius: 3px;
  padding: 1.5rem;
  width: 100%;
  max-width: 1100px;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  background-color: $yellow--light;
  box-shadow: 0 0 1px 1px rgba(0, 0, 0, 1);

  &__date {
    font-size: 1.5rem;
    color: #4d5154;

    @media screen and (min-width: $bp) {
      font-size: 2rem;
    }
  }

  &__title {
    font-size: 1.75rem;
    font-weight: 600;
    letter-spacing: 0.5px;
    color: #000;

    @media screen and (min-width: $bp) {
      font-size: 2.5rem;
    }
  }

  &__grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 0.5rem;

    @media screen and (min-width: $bp) {
      grid-template-columns: repeat(3, max-content);
    }
  }

  &__info {
    font-size: 1.5rem;
    color: #000;
    background-color: $yellow--dark;
    padding: 0.25rem;
    border-radius: 1px;

    @media screen and (min-width: $bp) {
      font-size: 2rem;
    }
  }

  &__flex {
    display: flex;
    align-items: center;
    gap: 1rem;
  }

  &__link {
    max-width: max-content;
    font-size: 1.5rem;
    color: #000;
    background-color: $yellow--dark;
    padding: 0.25rem;
    border-radius: 1px;
    text-decoration: underline;

    @media screen and (min-width: $bp) {
      font-size: 2rem;
    }
  }

  &__description {
    width: 100%;
    overflow-wrap: break-word;
    font-size: 1.5rem;
    color: #000;

    @media screen and (min-width: $bp) {
      font-size: 2rem;
    }
  }
}

.signIn {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  gap: 2.5rem;

  &__main {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 3rem;
    flex: 1;
  }

  &__title {
    font-size: 4rem;
    color: #000;

    @media screen and (min-width: $bp) {
      font-size: 5rem;
    }
  }

  &__form {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    max-width: 600px;
  }

  &__input {
    padding: 1.5rem;
    outline: none;
    background-color: transparent;
    border: none;
    border-bottom: 2px solid $yellow--dark;
    background-color: #fff7cc;
    font-size: 1.5rem;
    border-radius: 1px;

    @media screen and (min-width: $bp) {
      font-size: 2rem;
    }
  }

  &__btns {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
  }

  &__btn {
    text-align: center;
    width: 100%;
    border: none;
    outline: none;
    font-size: 1.5rem;
    color: #000;
    background-color: $yellow--dark;
    padding: 0.25rem;
    border-radius: 1px;
    text-decoration: underline;
    padding: 0.75rem 2.5rem;
    border-radius: 1px;
    cursor: pointer;

    @media screen and (min-width: $bp) {
      font-size: 2rem;
    }
  }
}

.userPage {
  display: flex;
  flex-direction: column;
  min-height: 100vh;

  &__main {
    width: 100%;
    align-self: center;
    max-width: 1100px;
    padding: 5rem 0.5rem;
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 5rem;
  }

  &__headingBox {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__title {
    font-size: 1.5rem;
    color: #000;
    background-color: $yellow--dark;
    padding: 1rem;
    border-radius: 3px;
    border: 2px solid currentColor;

    @media screen and (min-width: $bp) {
      font-size: 2.25rem;
    }
  }

  &__btn {
    text-align: center;
    border: none;
    outline: none;
    font-size: 1.5rem;
    color: #000;
    background-color: $yellow--dark;
    padding: 0.25rem;
    border-radius: 1px;
    text-decoration: underline;
    padding: 0.75rem 2.5rem;
    border-radius: 1px;
    cursor: pointer;

    @media screen and (min-width: $bp) {
      font-size: 2rem;
    }
  }

  &__listingsBox {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
  }

  &__addBox {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__listingsTitle {
    font-size: 1.5rem;
    color: #000;
    font-weight: 600;

    @media screen and (min-width: $bp) {
      font-size: 2rem;
    }
  }
}

.AddForm {
  display: flex;
  flex-direction: column;
  gap: 5rem;

  .selectedOption {
    background-color: #ffd500;
  }

  &__form {
    max-width: 1100px;
    width: 100%;
    align-self: center;
    flex: 1;
    display: flex;
    flex-direction: column;
    padding: 1rem;
    gap: 2.5rem;
  }

  &__sideBySideBox {
    display: flex;
    flex-direction: column;
    gap: 2.5rem;

    @media screen and (min-width: $bp-2) {
      flex-direction: row;
    }
  }

  &__3SideBySideBox {
    display: flex;
    flex-direction: column;
    gap: 2.5rem;

    @media screen and (min-width: $bp-3) {
      flex-direction: row;
    }
  }

  &__inputBox {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  &__label {
    font-size: 1.75rem;
    font-weight: 600;
    color: #000;

    @media screen and (min-width: $bp-2) {
      font-size: 2rem;
    }
  }

  &__input {
    padding: 1rem;
    outline: none;
    border: none;
    border-bottom: 2px solid $yellow--dark;
    background-color: $yellow--light;
    font-size: 1.5rem;
    border-radius: 1px;
    color: #000;

    @media screen and (min-width: $bp-2) {
      font-size: 2rem;
    }
  }

  &__textarea {
    outline: none;
    font-size: 1.5rem;
    min-height: 400px;
    background-color: #fff7cc;
    border: 1px solid $yellow--dark;
    padding: 1rem;
    border-radius: 3px;
    color: #000;

    @media screen and (min-width: $bp-2) {
      font-size: 2rem;
    }
  }

  &__optionsBox {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;

    @media screen and (min-width: $bp-2) {
      grid-template-columns: repeat(3, 1fr);
    }
  }

  &__option {
    width: 100%;
    border: none;
    outline: none;
    text-align: center;
    font-size: 1.3rem;
    color: #000;
    background-color: $yellow--light;
    border-radius: 1px;
    padding: 0.75rem 0;
    cursor: pointer;

    @media screen and (min-width: $bp-2) {
      font-size: 2rem;
    }
  }

  &__btns {
    display: flex;
    align-items: center;
    gap: 2.5rem;
  }

  &__btn {
    width: 100%;
    border: none;
    outline: none;
    text-align: center;
    font-size: 1.3rem;
    color: #000;
    background-color: $yellow--dark;
    border-radius: 1px;
    padding: 1rem 0;
    cursor: pointer;
    text-decoration: underline;

    @media screen and (min-width: $bp-2) {
      font-size: 2rem;
    }
  }
}

.error {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: $rd;
  padding: 2.5rem;
  border-radius: 1px;

  &__msg {
    font-size: 1.75rem;

    @media screen and (min-width: $bp-1) {
      font-size: 2rem;
    }
  }

  &__btn {
    font-size: 1.75rem;
    cursor: pointer;

    @media screen and (min-width: $bp-1) {
      font-size: 2rem;
    }
  }
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #000;
  padding: 3rem;
  color: #fff;
  font-size: 2rem;
  justify-self: flex-end;
}
